//Cores de fundo
$my-color-1: #1C1C28;
$my-color-2: #DEE1FF;
$my-color-3: #FFFFFF;
$my-color-4: #777B9E;
$my-color-5: #596AFE;
$my-color-6: #080357;
$my-color-7: #F68E5F;
$my-color-8: rgba(222, 225, 255, 0);
$my-color-9: #20202E;

$theme-colors:(
  "my-color-1": $my-color-1,
  "my-color-2": $my-color-2,
  "my-color-3": $my-color-3,
  "my-color-4": $my-color-4,
  "my-color-5": $my-color-5,
  "my-color-6": $my-color-6,
  "my-color-7": $my-color-7,
  "my-color-8": $my-color-8,
  "my-color-9": $my-color-9,
);


